STORE_CARDANO_HOST=preprod-node.world.dev.cardano.org
STORE_CARDANO_PORT=30000
STORE_CARDANO_PROTOCOL-MAGIC=1

NETWORK=preprod

SPRING_DATASOURCE_URL=jdbc:postgresql://host.docker.internal:5432/ledger_sync?currentSchema=cexplorer
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=

#Set min and max heap size if required
#JDK_JAVA_OPTIONS=-Xms4G -Xmx12G
