STORE_CARDANO_HOST=preprod-node.world.dev.cardano.org
STORE_CARDANO_PORT=30000
STORE_CARDANO_PROTOCOL-MAGIC=1

## Required for Preview and Sanchonet
#STORE_CARDANO_DEFAULT-GENESIS-HASH=

NETWORK=preprod

SPRING_DATASOURCE_URL=jdbc:postgresql://host.docker.internal:5432/ledger_sync
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=
SCHEMA=cexplorer


