.layoutWrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-gray-200);
  position: relative;
  flex-direction: column;
  overflow: hidden;
}

.layoutContent {
  padding-top: 72px;
  padding-bottom: 72px;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;

  @media (max-width: 1023px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.layoutGradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 0;

  img {
    width: 100%;
  }
}
