.solutionsViewWrapper {
  width: 100%;
  padding-right: 64px;
  padding-left: 64px;

  @media (max-width: 1023px) {
    margin-left: 0;
    margin-right: 0;
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
    max-width: 100%;
  }
}

.solutionsViewContent {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1281px;

  @media (max-width: 1023px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.solutionsViewBackButton {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-gray-1000);
  margin-bottom: 8px;
}

.solutionsViewTitleWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.solutionsViewTitle {
  font-size: 32px;
  color: var(--color-gray-1000);
  letter-spacing: -0.05em;
  line-height: 44px;

  @media (max-width: 1023px) {
    font-size: 22px;
    line-height: 34px;
  }
}

.solutionsViewStartOver {
  border-radius: 48px;
  background-color: var(--color-gray-800);
  color: var(--color-lightest);
  padding: 20px;
  font-size: 16px;
  line-height: 22px;
  margin-left: auto;
}

.solutionsViewCount {
  font-size: 24px;
  color: var(--color-gray-600);
  letter-spacing: -0.05em;
  line-height: 44px;
}

.solutionsViewContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
