.testWrapper {
    display: flex;
    flex-direction: column;
    gap: 4;
    align-items: center;

    h2 {
        font-size: 16px;
        font-weight: bold;
        color: red;
        text-align: center;
    }

    ul {
        list-style: square;
    }

}