.collapsibleSidebarOverlay {
  background-color: var(--color-gray-1000);
  opacity: 0.2;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1;
}

.collapsibleSidebarContent {
  background-color: var(--color-lightest);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 540px;
  height: 100vh;
  padding: 24px 32px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1;

  @media (max-width: 1023px) {
    left: 16px;
    right: 16px;
    top: 50%;
    height: calc(100vh - 30px);
    width: calc(100vw - 32px);
    transform: translateY(-50%);
    border-radius: 16px;
    padding: 16px 24px;
  }
}

.collapsibleSidebarChildrenWrapper {
  height: calc(100% - 56px);
  padding-top: 24px;
  padding-bottom: 24px;

  &.collapsibleSidebarChildrenWrapperSmallPadding {
    padding-top: 8px;
  }

  @media (max-width: 1023px) {
    height: calc(100% - 48px);
  }
}

.collapsibleSidebarChildren {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.collapsibleSidebarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.collapsibleSidebarTitle {
  color: var(--color-gray-1000);
  line-height: 40px;
  letter-spacing: -0.05em;
  font-size: 28px;
}

.collapsibleSidebarCloseButton {
  height: 56px;
  width: 56px;
  border: 1px solid var(--color-gray-400);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  flex-shrink: 0;

  @media (max-width: 1023px) {
    overflow: auto;
    height: 48px;
    width: 48px;
  }
}

.collapsibleSidebarDescription {
  color: var(--color-gray-600);
  font-size: 18px;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.2;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
